body {
    background-color: lightgrey;

}

.basico {
    color: red;
    background-color: black;
}
.intermediario {
    color: green;
    background-color: black;
}
.avancado {
    color: blue;
    background-color: black;
}