*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2 {
    color: white;
    background-color: black;
}

body {
    background-image: linear-gradient(to left, blue, rgb(35, 35, 249), rgb(49, 49, 227), rgb(88, 88, 247), rgb(96, 96, 229));
}

